In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime
import warnings
warnings.filterwarnings('ignore')

In [3]:
path = 'data/raw/india_ev_charging_stations.csv'
data = pd.read_csv(path)
data.head()

,IsRecentlyVerified,DateLastVerified,ID,UUID,DataProviderID,OperatorID,UsageTypeID,Connections,NumberOfPoints,StatusTypeID,...,AddressInfo.CountryID,AddressInfo.Latitude,AddressInfo.Longitude,AddressInfo.DistanceUnit,UsageCost,GeneralComments,AddressInfo.ContactTelephone1,AddressInfo.AccessComments,AddressInfo.RelatedURL,AddressInfo.ContactTelephone2
0,False,2025-02-18T09:15:00Z,308819,F6F196D5-CDEE-4534-9C1A-D4A9961F466B,1,3539,1,"[{'ID': 592292, 'ConnectionTypeID': 33, 'Statu...",1,50,...,106,12.14124,76.50854,0,19.9/kWh,NaN,NaN,NaN,NaN,NaN
1,False,2025-02-18T09:15:00Z,308819,F6F196D5-CDEE-4534-9C1A-D4A9961F466B,1,3539,1,"[{'ID': 592292, 'ConnectionTypeID': 33, 'Statu...",1,50,...,106,12.14124,76.50854,0,19.9/kWh,NaN,NaN,NaN,NaN,NaN
2,False,2025-02-18T09:15:00Z,308819,F6F196D5-CDEE-4534-9C1A-D4A9961F466B,1,3539,1,"[{'ID': 592292, 'ConnectionTypeID': 33, 'Statu...",1,50,...,106,12.14124,76.50854,0,19.9/kWh,NaN,NaN,NaN,NaN,NaN
3,False,2025-02-18T09:15:00Z,308819,F6F196D5-CDEE-4534-9C1A-D4A9961F466B,1,3539,1,"[{'ID': 592292, 'ConnectionTypeID': 33, 'Statu...",1,50,...,106,12.14124,76.50854,0,19.9/kWh,NaN,NaN,NaN,NaN,NaN
4,False,2025-02-18T09:15:00Z,308819,F6F196D5-CDEE-4534-9C1A-D4A9961F466B,1,3539,1,"[{'ID': 592292, 'ConnectionTypeID': 33, 'Statu...",1,50,...,106,12.14124,76.50854,0,19.9/kWh,NaN,NaN,NaN,NaN,NaN

In [4]:
data.columns

Index(['IsRecentlyVerified', 'DateLastVerified', 'ID', 'UUID',
       'DataProviderID', 'OperatorID', 'UsageTypeID', 'Connections',
       'NumberOfPoints', 'StatusTypeID', 'DateLastStatusUpdate',
       'DataQualityLevel', 'DateCreated', 'SubmissionStatusTypeID',
       'AddressInfo.ID', 'AddressInfo.Title', 'AddressInfo.AddressLine1',
       'AddressInfo.AddressLine2', 'AddressInfo.Town',
       'AddressInfo.StateOrProvince', 'AddressInfo.Postcode',
       'AddressInfo.CountryID', 'AddressInfo.Latitude',
       'AddressInfo.Longitude', 'AddressInfo.DistanceUnit', 'UsageCost',
       'GeneralComments', 'AddressInfo.ContactTelephone1',
       'AddressInfo.AccessComments', 'AddressInfo.RelatedURL',
       'AddressInfo.ContactTelephone2'],
      dtype='object')

In [5]:
data = data.drop(['IsRecentlyVerified', 'DateLastVerified', 'ID', 'UUID',
       'DataProviderID', 'OperatorID', 'UsageTypeID',
       'NumberOfPoints', 'StatusTypeID', 'DateLastStatusUpdate',
       'DataQualityLevel', 'DateCreated', 'SubmissionStatusTypeID',
       'AddressInfo.ID', 'AddressInfo.AddressLine1',
       'AddressInfo.AddressLine2', 'AddressInfo.Postcode',
       'AddressInfo.CountryID', 'AddressInfo.DistanceUnit', 'UsageCost',
       'GeneralComments', 'AddressInfo.ContactTelephone1',
       'AddressInfo.AccessComments', 'AddressInfo.RelatedURL',
       'AddressInfo.ContactTelephone2'], axis=1)

In [6]:
print(data.info())
print(data.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 6 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Connections                  10000 non-null  object
 1   AddressInfo.Title            10000 non-null  object
 2   AddressInfo.Town             9950 non-null   object
 3   AddressInfo.StateOrProvince  9929 non-null   object
 4   AddressInfo.Latitude         10000 non-null  float64
 5   AddressInfo.Longitude        10000 non-null  float64
dtypes: float64(2), object(4)
memory usage: 468.9+ KB
None
Connections                     0
AddressInfo.Title               0
AddressInfo.Town               50
AddressInfo.StateOrProvince    71
AddressInfo.Latitude            0
AddressInfo.Longitude           0
dtype: int64

In [7]:
data.dropna(inplace = True)

In [8]:
# Clean state names (remove extra spaces, standardize)
data['State'] = data['AddressInfo.StateOrProvince'].str.strip().str.title()
data.drop(columns=['AddressInfo.StateOrProvince'], inplace=True)

# Check unique states and cities
print("\nUnique states:", data['State'].nunique())
print("States:", sorted(data['State'].unique()))

data['City'] = data['AddressInfo.Town'].str.strip().str.title()
data.drop(columns=['AddressInfo.Town'], inplace=True)

print("\nUnique cities:", data['City'].nunique())
print("Sample cities:", sorted(data['City'].unique())[:10])

Unique states: 28
States: ['Andhra Pradesh', 'Assam', 'Delhi', 'Gj', 'Gujarat', 'Jharkhand', 'Karnatak', 'Karnataka', 'Keraka', 'Keral', 'Kerala', 'Lerala', 'Madhya Pradesh', 'Maharashtra', 'Mahrashtra', 'Mh', 'Mp', 'New Dehi', 'Puducherry', 'Rajasthan', 'Rj', 'Tamil Nadu', 'Tamilnadu', 'Telangana', 'Uttar Pradesh', 'Uttarakhand', 'Uttarakhnad', 'West Bengal']

Unique cities: 488
Sample cities: ['A.Reddihalli', 'Adimali', 'Adoor', 'Agra', 'Ahmednagar', 'Aikkarapadi', 'Aimangala', 'Alappuzha', 'Alathur', 'Alliyar']

In [9]:
# Fix State Name Inconsistencies

# Dictionary of state name corrections
state_corrections = {
    'Keraka': 'Kerala',
    'Keral': 'Kerala', 
    'Lerala': 'Kerala',
    'Gj': 'Gujarat',
    'Karnatak': 'Karnataka',
    'Mh': 'Maharashtra',
    'Mp': 'Madhya Pradesh',
    'Mahrashtra': 'Maharashtra',
    'Rj': 'Rajasthan',
    'Tamilnadu': 'Tamil Nadu',
    'Uttarakhnad': 'Uttarakhand',
    'New Dehi': 'Delhi',
    
}

# Apply corrections to charging stations dataset
data['State'] = data['State'].replace(state_corrections)

# Verify the corrections
print("States in charging stations dataset after correction:")
print("\nUnique states:", data['State'].nunique())
print(sorted(data['State'].unique()))

States in charging stations dataset after correction:

Unique states: 16
['Andhra Pradesh', 'Assam', 'Delhi', 'Gujarat', 'Jharkhand', 'Karnataka', 'Kerala', 'Madhya Pradesh', 'Maharashtra', 'Puducherry', 'Rajasthan', 'Tamil Nadu', 'Telangana', 'Uttar Pradesh', 'Uttarakhand', 'West Bengal']

In [10]:
print(data['Connections'])

0       [{'ID': 592292, 'ConnectionTypeID': 33, 'Statu...
1       [{'ID': 592292, 'ConnectionTypeID': 33, 'Statu...
2       [{'ID': 592292, 'ConnectionTypeID': 33, 'Statu...
3       [{'ID': 592292, 'ConnectionTypeID': 33, 'Statu...
4       [{'ID': 592292, 'ConnectionTypeID': 33, 'Statu...
                              ...
9945    [{'ID': 593981, 'ConnectionTypeID': 33, 'Statu...
9946    [{'ID': 593981, 'ConnectionTypeID': 33, 'Statu...
9947    [{'ID': 593981, 'ConnectionTypeID': 33, 'Statu...
9948    [{'ID': 593981, 'ConnectionTypeID': 33, 'Statu...
9949    [{'ID': 593981, 'ConnectionTypeID': 33, 'Statu...
Name: Connections, Length: 9879, dtype: object

In [11]:
import json
import ast

def parse_connections(connections_str):
    try:
        if pd.isna(connections_str) or connections_str == '':
            return []
        
        # Try JSON first
        try:
            return json.loads(connections_str.replace("'", '"'))
        except:
            pass
        
        # Try ast.literal_eval for string representation of lists
        try:
            return ast.literal_eval(connections_str)
        except:
            pass
        
        # If both fail, return empty list
        return []
    except:
        return []

In [12]:
def get_max_power(connections):
    # Get maximum power in KW from connections
    powers = [conn.get('PowerKW', 0) for conn in connections if conn.get('PowerKW')]
    return max(powers) if powers else 0

In [16]:
# Parse the connections data
data['Connections_Parsed'] = data['Connections'].apply(parse_connections)

# Extract connection information
data['Max_Power_KW'] = data['Connections_Parsed'].apply(get_max_power)

print("Sample of parsed connections:")
print(data['Connections_Parsed'].head(3))
print("\nMax Power KW values:")
print(data['Max_Power_KW'].head(10))

print("\nUnique Power values:", data['Max_Power_KW'].nunique())
print("Power range:", sorted(data['Max_Power_KW'].unique())[:10])

data.drop(['Connections', 'Connections_Parsed'], axis=1, inplace=True)

Sample of parsed connections:
0     [{'ID': 592292, 'ConnectionTypeID': 33, 'Statu...
7     [{'ID': 600211, 'ConnectionTypeID': 33, 'Statu...
17    [{'ID': 796500, 'ConnectionTypeID': 33, 'Statu...
Name: Connections_Parsed, dtype: object

Max Power KW values:
0      30.0
7      60.0
17     30.0
28     30.0
29     60.0
30     30.0
31     60.0
32     30.0
33     24.0
88    120.0
Name: Max_Power_KW, dtype: float64

Unique Power values: 27
Power range: [0.0, 1.0, 3.3, 7.0, 7.2, 7.4, 9.0, 15.0, 20.0, 22.0]

In [17]:
print(data.shape)
print(data.duplicated(subset=['AddressInfo.Title']).sum())
data.drop_duplicates(subset=['AddressInfo.Title'], inplace=True)
print(data.shape)

(967, 6)
0
(967, 6)

In [18]:
data.to_csv("data/processed/india_ev_stations_cleaned.csv", index=False)